<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<main>
<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a th:href="@{/admin/rooms}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-4">Madoi Server</span>
    </a>
  </header>
  <div class="row">
    <div class="col">状態: Room: <span th:text="${room.id}"></span></div>
  </div>
  <div class="row">
    <div class="col">
Room:
<table class="table table-success table-striped" border="1">
<tbody>
<tr>
  <th>id</th>
  <td th:text="${room.id}"></t>
</tr>
<tr>
  <th>spec</th>
  <td th:text="${room.spec}"></t>
</tr>
<tr>
  <th>profile</th>
  <td th:text="${room.profile}"></t>
</tr>
<tr>
  <th>peerCount</th>
  <td th:text="${room.peerCount}"></t>
</tr>
<tr>
  <th>objectCount</th>
  <td th:text="${room.objectCount}"></t>
</tr>
<tr>
  <th>functionCount</th>
  <td th:text="${room.functionCount}"></t>
</tr>
<tr>
  <th>historyCount</th>
  <td th:text="${room.historyCount}"></t>
</tr>
</thead>
<tbody>
</tbody>
</table>

Peers:
<table class="table table-success table-striped" border="1">
<thead>
<tr>
  <th>id</th>
  <th>order</th>
  <th>profile</th>
</tr>
</thead>
<tbody>
<tr th:each="peer : ${room.peers}">
  <td th:text="${peer.id}"></td>
  <td th:text="${peer.order}"></td>
  <td th:text="${peer.profile}"></td>
</tr>
<tbody>
</tbody>
</table>

Functions:
<table class="table table-success table-striped" border="1">
<thead>
<tr>
  <th>functionId</th>
  <th>name</th>
  <th>invocationCount</th>
  <th>lastInvocaiton</th>
</tr>
</thead>
<tbody>
<tr th:each="f : ${room.functions}">
  <td th:text="${f.definition.funcId}"></td>
  <td th:text="${f.definition.name}"></td>
  <td th:text="${f.invocationCount}"></td>
  <td><span th:if="${f.lastInvocation} != null" th:text="${#dates.format(f.lastInvocation, 'yyyy/MM/dd HH:mm:ss')}"></span></td>
</tr>
</tbody>
</table>

Objects:
<table class="table table-success table-striped" border="1">
<thead>
<tr>
  <th>objectId</th>
  <th>className</th>
  <th>revision</th>
  <th>state</th>
  <th>methods</th>
</tr>
</thead>
<tbody>
<tr th:each="obj : ${room.objects}">
  <td th:text="${obj.definition.objId}"></td>
  <td th:text="${obj.definition.className}"></td>
  <td th:text="${obj.revision}"></td>
  <td><div th:text="${obj.state}" style="max-width: 120px; max-height: 240px; overflow: scroll; word-wrap: break-word"></div></td>
  <td>
    <table class="table table-primary table-striped" border="1">
    <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>invocation count</th>
      <th>last invocation</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="method : ${obj.methods}">
      <td th:text="${method.definition.methodId}"></td>
      <td th:text="${method.definition.name}"></td>
      <td th:text="${method.invocationCount}"></td>
      <td><span th:if="${method.lastInvocation} != null" th:text="${#dates.format(method.lastInvocation, 'yyyy/MM/dd HH:mm:ss')}"></span></td>
    </tr>
    </tbody>
    </table>
  </td>
</tr>
</tbody>
</table>

</div>
</div>
</div>
</main>
</body>
</html>
